.vagrant
vault_pass.txt

docker/dist/cli/papernet/bin/papernet_cli
docker/dist/web/papernet/bin/papernet_web
docker/data
docker/data/
docker/data/**
docker/conf/papernet/certs/*

*.crt
*.csr
*.key
*.jwk
*rsa-key
*rsa-key.jwk

dist/web/papernet/xc/**
dist/web/papernet/xc/
dist/web/papernet/xc

dist/cli/papernet/xc/**
dist/cli/papernet/xc/
dist/cli/papernet/xc

data
data/
data/**

dist/front/papernet/content
dist/front/papernet/content/
dist/front/papernet/content/**
