data/*

./dist
!dist/cli/papernet-linux-amd64-cli
!dist/web/papernet-linux-amd64-web
# site/

vendor
vendor/
vendor/*

# Credentials
oauth_*.json
hs256.json

vendor/*
#### joe made this: http://goel.io/joe

#### go ####
# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/

.idea
.intellij
*.iml

.vscode/

*.log
*.exe

.DS_Store

# Not used yet
# darwin
# freebsd
# openbsd
# windows
# freebsd
# netbsd
# plan9
# dragonfly
# nacl
# solaris
# android
# Dockerfile